node_modules/
dist/
.env
.next/
out/
build/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.swp
*.bak
*.tmp
*.temp
/backend-core/node_modules
/frontend/node_modules
/backend-ai/venv
/backend-ai/__pycache__
